body {
	overflow-x: hidden;
}

.field {
	background-image: url(../img/sky.png);
	background-repeat: repeat;
	height: 100vh;
	min-height: 500px;
	position: relative;
}

.target {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: flow;
	animation-timing-function: ease-in-out;
	background: url(../img/rock.png) no-repeat;
	background-size: cover;
	height: 250px;
	left: calc(50% - 167px);
	max-height: 100%;
	opacity: 1;
	position: absolute;
	top: 10px;
	transition: left 0.5s;
	width: 335px;
}

.target.isSlideLeft {
	left: -100vw;
}

.target.isSlideRight {
	left: 100vw;
}

.target.isHidden {
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-name: transparent;
}

.plane {
	background: url(../img/plane.png) no-repeat;
	background-size: cover;
	bottom: 5px;
	height: 190px;
	left: calc(50% - 50px);
	max-height: 100%;
	position: absolute;
	width: 100px;
}

.normalShot {
	background-color: #345C69;
	border-radius: 100px;
	height: 50px;
	position: absolute;
	width: 20px;
	display: none;
}

.normalShot.isShooting {
	display: block;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-name: shoot;
}


@keyframes flow {
	0% {
		margin-top: 0;
	}

	50% {
		margin-top: 10px;
	}
}

@keyframes shoot {
	0% {
		margin-top: 0;
	}

	100% {
		margin-top: -150vh;
	}
}


@keyframes transparent {
	0% {
		opacity: 1;
	}

	10% {
		opacity: 0;
	}

	70% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
